{
  "env": "localhost",
  "port": "",
  "db": "",
  "token_secret_key": "",
  "sendgrid_api_key": "",
  "sendgrid_sender": "",
  "sendgrid_name": "",
  "eth_chain_endpoint": "",
  "contract_name": "",
  "contract_address": "",
  "contract_owner_private_key": "",
  "contract_owner_wallet_address": "",
  "primetrust_prefix": "",
  "primetrust_email": "",
  "primetrust_password": "",
  "primetrust_account_id": ""
  "twilio_key": "",
  "twilio_endpoint": "",
  "coinbase_key":"",
  "coinbase_endpoint": "",
  "gs_key_file": "",
  "gs_bucket_name": "",
  "gs_bucket_images_folder": "",
  "image_size_limit": 4194304,
  "image_extensions": [".jpg", ".jpeg", ".png", ".gif"],
  "endpoint_reset_password": "",
  "endpoint_verify_email": "",
  "hubspot_hapi_key": "",
  "wallet_cipher_key": "xxx",
  "eos": {
    "eos_check_account_url": "",
    "eos_api_key": "",
    "eos_supply_money_url": ""
  }
}
